<div class="container">
        <h5 class="header-style">EDIT INSTRUCTOR</h5>
    <form>
        <div class="form-group">
            <label class="label" for="addProfessorName">instructor name</label>
            <div class="input-group mb-3 col-lg-5">
                <input type="name" class="form-control textbox-color"
                id="addProfessorName" (keyup)="updateName($event)" placeholder={{data.name}}>
                <div class="input-group-append">
                    <ng-template #trash>
                        <p class="trash">delete instructor</p>
                    </ng-template>
                    <button (click)="deleteInstructor()" class="trash-btn rounded" [ngbTooltip]="trash" placement="right" tooltipClass="trash-tooltip">
                        <span><img src="/src/assets/img/garbage-2.svg" width="25" height="25"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="label" for="addNetID">net ID</label>
            <input type="netID" class="form-control textbox-color col-5"
                id="addNetID" (keyup)="updateNetId($event)" placeholder={{data.net_id}} disabled>
                </div>
        <div class="form-group">
            <label class="label" for="addTrack">track</label>
            <div class="input-group">
                <select class="custom-select col-lg-5 textbox-color"
                    id="addTrack">
                    <option selected>{{track}}</option>
                    <option>tenured</option>
                    <option>non-tenured</option>
                    <option>adjunct</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="availableCourses">available courses</label>
            <div class="input-group col-lg-5 add-form">
                <select class="custom-select textbox-color" [ngModel]="course_added" (ngModelChange)="onChange($event)" name="sel2">
                    <option selected>choose course</option>
                    <option *ngFor="let course of courseList">{{course.name}}</option>
                     </select>
                <div class="input-group-append">
                    <button class="btn" type="button" (click)="updateAvailableCourses()">
                        +
                    </button>
                </div>
            </div>
            <div >
                <div class="form-check col-lg-5" *ngFor="let course of available_courses_display">
                    <!--<input type="checkbox" class="form-check-input" id="preferred">-->
                        <label id={{course}} class="form-check-label">{{course}}</label>
                    <button (click)="removeAvailableCourse(course)" type="button" class="close">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </div>
        
        <button (click)="submitInstructor()" type="add" data-toggle="modal" data-target="#popUp" class="btn col-5 add-button">SAVE CHANGES</button>
        
        <div id="popUp" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <span><img class="center-block" src="/src/assets/img/course-brew.svg" width="75" height="75"></span>
                        <h6 class="modal-title">changes saved!</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>
