.container{
    margin-top: 100px;
}

.top-padding{
    margin-top: 10px;
}

.bottom-padding{
    margin-bottom:10px;
}

.left-padding{
    margin-left: 10px;
}

.admin-header{
    color: #7180ac;
    font-family: 'Work Sans', sans-serif;
}

.text-data{
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 60%;
    background-color: #7180ac;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}

.right {
    width: 30%;
    background-color: #ffffff;
    right: 120px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pre-scrollable{
    min-height: 530px;
    overflow-x: hidden;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #7180ac;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a8d0db;
    border-radius: 10px;
}

.add-btn{
    background-color: #e49273;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    display: block;
    width: 260px;
    padding-left: 70px;
    padding-right: 70px;
    margin-right: 5px;
    display: inline-block;
}

.add-btn:focus{
    box-shadow: none;
    border-color: #7180ac;
    border-width: 2px;
}

.modal-content{
    background-color: #ffffff;
    border-color: #a8d0db;
    font-family: 'Work Sans', sans-serif;
    color: #2b4570;
}

.modal-title{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: #2b4570;
    font-family: 'Work Sans', sans-serif;
}

.wrapper{
    text-align: center;
}

.textbox-color{
    background-color: #a8d0db;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
}

.textbox-color:focus{
    box-shadow: none;
    border-color: #7180ac;
    border-width: 2px;
}

.label{
    color: #2b4570;
    font-family: 'Work Sans', sans-serif;
    float: left;
}

.img-style{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-style{
    display: inline-block;
}

.modal-btn{
    background-color: #e49273;
    color: white;
    font-family: 'Work Sans', sans-serif;
    border-color: #e49273;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-btn:focus{
    outline-color: #a8d0db;
}
